<div class = "top-title">
	<h2>ようこそ Bookersへ！</h2>
</div>
<div class = "top-body">
	<h5>Bookersでは、さまざまな書籍に関するあなたの意見や</h5>
	<h5>印象を共有し交換することができます</h5>
	<h4><%= link_to "Start", books_path %></h4>
</div>